body {
	background-color: #eaeaea;
}
main {
	padding: 20px;
}
.extensions {
	display: flex;
	flex-direction: column;
}
.extensions ul li {
	list-style-type: none;
	margin-bottom: 5px;
}
.ext_list {
  height: 300px;
  -moz-column-count: 2;
  column-count: 3;
  width: 35%;
}
.title {
	font-weight: bold;
	font-size: 18px;
}
.bold {
	font-weight: bold;
}
input {
	background-color: #bdbdbd;
  border: none;
  padding: 10px 30px;
  color: #252525;
  cursor: pointer;
}